* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    padding: 20px;
}

.main-page {
    background-color: #F5F5F5;
    max-width: 800px;
    border-radius: 5px;
    margin: 0 auto;
    padding:32px;
}